/*--------------------------------------- General ---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  font-family: "Piazzolla", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
a {
  text-decoration: none;
}

:root {
  --font-color-primary: #252745;
  --font-color-secondary: #60627a;
  --white-color: #f5f5f5;
  --red-color: #f04e44;
  --gray-color: #a8a9b7;
  --extralight-font: 100;
  --light-font: 200;
  --regular-font: 300;
  --medium-font: 400;
  --semibold-font: 500;
  --bold-font: 600;
  --extrabold-font: 700;
}

h1 {
  font-weight: 800;
  font-size: calc(3rem + 1vw);
  padding-bottom: 2%;
}

/* Nav  */
nav img {
  width: 50px;
  height: 50px;
}
#construction-container {
  background-color: hsl(0, 1%, 90%);
}

footer {
  background-color: hsl(0, 1%, 90%);
}
.padding-footer {
  padding: 1.5% 5%;
}
iframe {
  max-width: 90vw;
}

.uk-navbar {
  min-height: 50px;
}
.uk-navbar button.navbar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.uk-navbar button.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
}
.uk-navbar button.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.uk-navbar .uk-navbar-nav {
  flex-wrap: wrap-reverse;
  align-self: flex-end;
}
.uk-navbar .uk-navbar-nav > li > a {
  min-height: auto;
  line-height: 3em;
}
@media (max-width: 960px) {
  .uk-navbar .toggle-target.collapsed {
    display: none;
  }
  .uk-navbar .toggle-target .uk-navbar-nav {
    display: block;
    top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: hsl(0, 0%, 68%);
  }
  .uk-navbar .toggle-target .uk-navbar-nav li a {
    display: block;
    min-height: 0;
    line-height: 2em;
    padding: 1% !important;
    color: #fff;
  }
  .uk-navbar .toggle-target .uk-navbar-nav li:hover {
    background-color: hsl(0, 0%, 80%);
  }
  .uk-navbar .toggle-target .uk-navbar-dropdown {
    width: 90%;
    min-width: 200px;
  }
  .uk-navbar
    .toggle-target
    .uk-navbar-dropdown[class*="uk-navbar-dropdown-bottom"] {
    margin-top: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
a#logo {
  align-items: baseline;
}
